.mainRightSidebarContainer {
  width: 20%;
  border-left: 1px solid #e0dfdf;
  min-height: 100vh;
}

.mainRightSidebarContainerdark {
  width: 20%;
  min-height: 100vh;
  border-left: 1px solid #505050;
}
